.filter-results {
    width: 17%;
    float: left;
    margin: 1%;
    text-align: center;
}

th {
    text-align: center;
}
#submit {
    height: 40px;
    width: 12%;
    margin-top: 5%;
    padding: 1%;
    border-radius: 5%;
}
@media screen and (max-width:480px) {
    label, .form-control, th, .resume-text {
        font-size: 0.68em;
    }
    #about-text {
        text-align: center;
    }
}
